mixin poster (name, year, image, describe)
    .poster.vw-100.vh-100.text-white.d-flex.align-items-center.justify-content-between(
        style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/slides/" + image + ".jpg) no-repeat top; background-size: cover; background-attachment: fixed"
    )
        .poster__text
            h1.display-md-4=name
                p.lead.d-inline="(" + year + ")"
            p.normalText.lead=describe
            hr.my-2
            a.btn.btn-warning.btn-lg(href='#' role='button')
                i.far.fa-info-circle
                |
                | More info
        nav.poster__button.nav.flex-column.lead.text-center
            a.nav-link(href='#'): i.fab.fa-facebook-f
            a.nav-link(href='#'): i.fab.fa-instagram
            a.nav-link(href='#'): i.fab.fa-twitter

mixin slidePoster (data) 
    - for (var i = 0; i < 5; i++)
        if (i == 0)
            .carousel-item.active
                +poster (data[i].name, data[i].year, data[i].image, data[i].describe)
        else 
            .carousel-item
                +poster (data[i].name, data[i].year, data[i].image, data[i].describe)

mixin trailerVideo (image, name)
    .trailer.col-md.mb-3.mb-md-0
        .trailer__video
            img.trailer__video-img.img-fluid(src="images/trailers/" + image + ".jpg" alt="")
            .trailer__video-text.d-flex.flex-column.justify-content-center.text-center
                a.text-decoration-none(href="#")
                    i.fal.fa-play-circle
                    p.mb-0 play
        .trailer__name.mt-3
            p=name

mixin watch (image, score, name)
    .watch__list-item.card.border-0.bg-transparent.col-6.col-md-4.col-lg-2.mb-4.mb-lg-0
        a(href="#").d-block.card-img-top(
            style="background: url(images/watchs/" + image + ".jpg) no-repeat center; background-size: cover"
        )
        .card-body.border-0.p-2.pb-3.d-flex.flex-column.justify-content-between
            div.mb-3
                p.normalText.mb-1 
                    i.fas.fa-star
                    |
                    | #{score}
                a(href="#").text-decoration-none.text-white=name
            div
                .text-center.mb-3: a.btn.btn-warning.btn-sm(href='#') See more
                .text-center: a(href="#"): i.fas.fa-play.normalText

mixin born (image, name, age)
    .col-4.col-md-2.mb-3.mb-md-0
        a(href="#").d-block.born__image.rounded-circle(
            style="background: url(images/borns/" + image + ".jpg) no-repeat center; background-size: cover"
        )
        .born__text.text-center.mt-3 
            a.text-white(href="#")=name
            p.mb-0.normalText=age

mixin news (image, title, time)
    a(href="#").d-block.text.text-decoration-none.d-flex.justify-content-between.mb-3.col-md
        .news__image
            .news__image-img(
                style="background: url(images/news/" + image + ".jpg) no-repeat center; background-size: cover"
            )
        .news__content.d-md-flex.flex-column.justify-content-between
            p.text-white=title
            p.normalText.mb-0=time